@page "/impressum"
@inject IKeyValueService KeyValueService
@using InntalerSchachfreunde.Services
@using Microsoft.AspNetCore.Components

<h3>Impressum</h3>

<div class="impressum">
    <p>
        <strong>
            @Name
        </strong> 
    </p>
    <p><strong>@ImpressumAdresse</strong></p>
    <p><strong>@ImpressumVerantwortlichWebsite</strong></p>
    <p><strong>@ImpressumVertretenDurch</strong></p>
    <p><strong>@ImpressumPresse</strong></p>

</div>

<style>
    .impressum {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
    }

        .impressum p {
            margin: 5px 0;
        }
</style>
@code{
    private string? Name;
    private string? ImpressumAdresse;
    private string? ImpressumVerantwortlichWebsite;
    private string? ImpressumVertretenDurch;
    private string? ImpressumPresse;

    protected override async Task OnInitializedAsync()
    {
        Name = await GetKeyValue("Name");
        ImpressumAdresse = await GetKeyValue("ImpressumAdresse");
        ImpressumVerantwortlichWebsite = await GetKeyValue("ImpressumVerantwortlichWebsite");
        ImpressumVertretenDurch = await GetKeyValue("ImpressumVertretenDurch");
        ImpressumPresse = await GetKeyValue("ImpressumPresse");
    }
    private async Task<string?> GetKeyValue(string key)
    {
        try
        {
            return await KeyValueService.GetValue(key);
        }
        catch
        {
            return null;
        }
    }
}
