@page "/termine"
@using System.Globalization
@using Entities
@using InntalerSchachfreunde.Services
@inject IJSRuntime JS
@inject ITerminService TerminService

<PageTitle>Termine:</PageTitle>
<Div Width="Width.Is100.OnDesktop.Is100.OnMobile">
    <Table Striped Narrow="true" Responsive="true">
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Veranstaltung</TableHeaderCell>
                <TableHeaderCell>Datum</TableHeaderCell>
                <TableHeaderCell >Anmerkung</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var termin in TerminList)
            {
                <TableRow>
                    <TableRowCell>@termin.Name</TableRowCell>
                <TableRowCell>@termin.DateTime.ToString("dd.MM.yyyy HH:mm")</TableRowCell>
                <TableRowCell>@termin.Annotation</TableRowCell>
            </TableRow>
            }      
        </TableBody>
    </Table>
</Div>

@code {
    private List<Termin>? TerminList { get; set; }

    protected override void OnInitialized()
    {
        TerminList = TerminService.GetTermine();
    }
}
