@page "/vm"
@using InntalerSchachfreunde.Entities

@inject ITournamentService tournamentService

<h3>Vereinsmeisterschaft</h3>

@if (crossTable is not null)
{
    <Table Bordered Narrow="true">
        <TableHeader>
            <TableRow>
                <TableHeaderCell>X</TableHeaderCell>
                @foreach(var head in crossTable.Header)
                {
                    <TableHeaderCell>@head</TableHeaderCell>
                }
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach(var row in crossTable.Rows)
            {                
                <TableRow>
                    @foreach (var cell in row)
                    {
                        <TableRowCell>@cell</TableRowCell>
                    }
                </TableRow>
            }
        </TableBody>
    </Table>
}
else
{
    <p>No tournament found.</p>
}

@code {
    private List<Player> players;
    private CrossTable? crossTable;

    protected override async Task OnInitializedAsync()
    {
        var currentVm = await tournamentService.GetCurrentTournamentName();
        crossTable = await tournamentService.GetCrossTableOfTournament(currentVm);
    }
}
